:root {
  /* General styles */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('./assets/bg-image.jpg');
  /* Ruta relativa a la carpeta public */
  background-size: cover;
  /* Ajusta el tamaño de la imagen para que cubra todo el contenedor */
  background-position: center;
  /* Centra la imagen */
}

a {
  /* Link styles */
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button {
  /* Button styles */
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {

  /* Light mode styles */
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* Blue button */
.buttonBlue {
  background-color: #008cba;
}

/* Card container */
.card_container {
  border: black solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 0 5px 2px #0000004d;
  transform-style: preserve-3d;
  font-weight: 700;
  padding: 2em;
  height: 375px;
  width: 70%;
  text-align: center;
  cursor: pointer;
  transition: 0.15s;
  transform: perspective(1000px) rotateX(var(--rotate-X, 0));
}

.card_container:hover {
  box-shadow: 0 0 5px 2px #00000080;
}

/* Flip card styles */
.flip-card {
  background-color: transparent;
  width: 75%;
  height: 375px;
  margin-right: -31px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card.clicked .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  border: black solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 0 5px 2px #0000004d;
  transform-style: preserve-3d;
  font-weight: 700;
  padding: 2em;
  height: 375px;
  text-align: center;
  cursor: pointer;
  transition: 0.15s;
  transform: perspective(1000px) rotateX(var(--rotate-X, 0));
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

/* Button container */
.button-container {
  margin-top: 20px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* Alinea los elementos al principio del contenedor principal */
  min-height: 100vh;
  position: relative;
  /* Agregado para posicionar los "Mastered Cards" */
}

.mastered-cards-container {
  position: absolute;
  top: 0;
  right: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  display: flex;
  align-items: flex-start;
}